body {
    background-color: red;
    height: 100%;
    margin: 0;
}
.Logopart {
    display: flex;
    flex-direction: column;
    height: 120%;
    text-align: center;
    background-color: white;
    margin: 0;
}
.Firstpage {
    display: flex;
    flex-direction: row;
}
.logogmc {
    padding-top: 50%;
}
.SingInpart1 {
    background-color: red;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}
input {
    border-radius: 15px;
    width: 300px;
    height: 40px;
}
p {
    color: white;
}
label {
    justify-content: space-between;
}
button {
    border-color: white;
    color: red;
}